<h2 class="form-header-title">User info</h2>
<%= form_for(@user) do |f| %>

<% if @user.errors.any? %>
<h3>errorが<%= @user.errors.count %>件あります</h3>
  <ul>
   <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
 <% end %>

 <%= attachment_image_tag @user, :profile_image, size: "100x100",  class: "img-circle pull-left profile-thumb", fallback: "no_images.jpg"%>
     <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
     <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>

     <label class="control-label sr-only" for="inputEmail">Name</label>
     <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"名前"%>
        <span class="fa fa-user form-control-icon" aria-hidden="true"></span>

<div class="field">
<%= f.label :introduction %><br />
    <%= f.text_area :introduction, autofocus: true %>
  </div>

  <%= f.submit "Update user", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
<% end %>

